backend/src/api/soap/soapy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SoapyService"
             targetNamespace="http://soapy.example.com/wsdl/v1"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soapy.example.com/wsdl/v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Types -->
  <types>
    <xsd:schema targetNamespace="http://soapy.example.com/wsdl/v1">

      <!-- CommitMessage Request/Response -->
      <xsd:element name="CommitMessageRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="role" type="tns:MessageRole"/>
            <xsd:element name="content" type="xsd:string"/>
            <xsd:element name="aiProvider" type="xsd:string" minOccurs="0"/>
            <xsd:element name="model" type="xsd:string" minOccurs="0"/>
            <xsd:element name="attachments" type="tns:Attachment" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CommitMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="commitHash" type="xsd:string"/>
            <xsd:element name="sequenceNumber" type="xsd:int"/>
            <xsd:element name="timestamp" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- BranchConversation Request/Response -->
      <xsd:element name="BranchConversationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="branchName" type="xsd:string"/>
            <xsd:element name="fromMessageNumber" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="BranchConversationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="branchRef" type="xsd:string"/>
            <xsd:element name="createdAt" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetConversation Request/Response -->
      <xsd:element name="GetConversationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="branchName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="format" type="tns:OutputFormat" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetConversationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="messages" type="tns:Message" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetBranding Request/Response -->
      <xsd:element name="GetBrandingRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetBrandingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="branding" type="tns:Branding"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- CommitToolCall Request/Response -->
      <xsd:element name="CommitToolCallRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="toolName" type="xsd:string"/>
            <xsd:element name="parameters" type="xsd:string"/> <!-- JSON string -->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CommitToolCallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="commitHash" type="xsd:string"/>
            <xsd:element name="sequenceNumber" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- CommitToolResult Request/Response -->
      <xsd:element name="CommitToolResultRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="toolCallRef" type="xsd:int"/>
            <xsd:element name="result" type="xsd:string"/> <!-- JSON string -->
            <xsd:element name="status" type="tns:ToolStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CommitToolResultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="commitHash" type="xsd:string"/>
            <xsd:element name="sequenceNumber" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- CommitFile Request/Response -->
      <xsd:element name="CommitFileRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="filename" type="xsd:string"/>
            <xsd:element name="contentType" type="xsd:string"/>
            <xsd:element name="data" type="xsd:base64Binary"/> <!-- Base64-encoded file data -->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CommitFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="commitHash" type="xsd:string"/>
            <xsd:element name="fileMetadata" type="tns:FileMetadata"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetFile Request/Response -->
      <xsd:element name="GetFileRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="filename" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="filename" type="xsd:string"/>
            <xsd:element name="contentType" type="xsd:string"/>
            <xsd:element name="data" type="xsd:base64Binary"/>
            <xsd:element name="metadata" type="tns:FileMetadata"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetCompletion Request/Response -->
      <xsd:element name="GetCompletionRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="branchName" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetCompletionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="tns:Message"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ListConversations Request/Response -->
      <xsd:element name="ListConversationsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <!-- Empty - lists all conversations -->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListConversationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversations" type="tns:ConversationSummary" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- DeleteConversation Request/Response -->
      <xsd:element name="DeleteConversationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DeleteConversationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ListBranches Request/Response -->
      <xsd:element name="ListBranchesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListBranchesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="branches" type="tns:BranchInfo" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- DeleteBranch Request/Response -->
      <xsd:element name="DeleteBranchRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="branchName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DeleteBranchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ListFiles Request/Response -->
      <xsd:element name="ListFilesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListFilesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="files" type="tns:FileMetadata" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Complex Types -->
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element name="sequenceNumber" type="xsd:int"/>
          <xsd:element name="role" type="tns:MessageRole"/>
          <xsd:element name="content" type="xsd:string"/>
          <xsd:element name="timestamp" type="xsd:dateTime"/>
          <xsd:element name="aiProvider" type="xsd:string" minOccurs="0"/>
          <xsd:element name="model" type="xsd:string" minOccurs="0"/>
          <xsd:element name="commitHash" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Branding">
        <xsd:sequence>
          <xsd:element name="logoUrl" type="xsd:string"/>
          <xsd:element name="primaryColor" type="xsd:string"/>
          <xsd:element name="secondaryColor" type="xsd:string" minOccurs="0"/>
          <xsd:element name="accentColor" type="xsd:string" minOccurs="0"/>
          <xsd:element name="footerText" type="xsd:string" minOccurs="0"/>
          <xsd:element name="versionTimestamp" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FileMetadata">
        <xsd:sequence>
          <xsd:element name="filename" type="xsd:string"/>
          <xsd:element name="path" type="xsd:string"/>
          <xsd:element name="size" type="xsd:int"/>
          <xsd:element name="contentType" type="xsd:string"/>
          <xsd:element name="hash" type="xsd:string"/> <!-- SHA-256 -->
          <xsd:element name="uploadedAt" type="xsd:dateTime"/>
          <xsd:element name="uploadedBy" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ConversationSummary">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="updatedAt" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BranchInfo">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="sourceMessageNumber" type="xsd:int"/>
          <xsd:element name="messageCount" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Attachment">
        <xsd:sequence>
          <xsd:element name="filename" type="xsd:string"/>
          <xsd:element name="contentType" type="xsd:string"/>
          <xsd:element name="size" type="xsd:int"/>
          <xsd:element name="data" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Enums -->
      <xsd:simpleType name="MessageRole">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="user"/>
          <xsd:enumeration value="assistant"/>
          <xsd:enumeration value="system"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="OutputFormat">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="openai"/>
          <xsd:enumeration value="anthropic"/>
          <xsd:enumeration value="soap"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="ToolStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="success"/>
          <xsd:enumeration value="failure"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!-- SOAP Faults -->
      <xsd:element name="InvalidConversationFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="UnauthorizedAccessFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="organizationId" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GitOperationFailedFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="operation" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ProviderUnavailableFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Messages -->
  <message name="CommitMessageRequestMessage">
    <part name="parameters" element="tns:CommitMessageRequest"/>
  </message>
  <message name="CommitMessageResponseMessage">
    <part name="parameters" element="tns:CommitMessageResponse"/>
  </message>

  <message name="BranchConversationRequestMessage">
    <part name="parameters" element="tns:BranchConversationRequest"/>
  </message>
  <message name="BranchConversationResponseMessage">
    <part name="parameters" element="tns:BranchConversationResponse"/>
  </message>

  <message name="GetConversationRequestMessage">
    <part name="parameters" element="tns:GetConversationRequest"/>
  </message>
  <message name="GetConversationResponseMessage">
    <part name="parameters" element="tns:GetConversationResponse"/>
  </message>

  <message name="GetBrandingRequestMessage">
    <part name="parameters" element="tns:GetBrandingRequest"/>
  </message>
  <message name="GetBrandingResponseMessage">
    <part name="parameters" element="tns:GetBrandingResponse"/>
  </message>

  <message name="CommitToolCallRequestMessage">
    <part name="parameters" element="tns:CommitToolCallRequest"/>
  </message>
  <message name="CommitToolCallResponseMessage">
    <part name="parameters" element="tns:CommitToolCallResponse"/>
  </message>

  <message name="CommitToolResultRequestMessage">
    <part name="parameters" element="tns:CommitToolResultRequest"/>
  </message>
  <message name="CommitToolResultResponseMessage">
    <part name="parameters" element="tns:CommitToolResultResponse"/>
  </message>

  <message name="CommitFileRequestMessage">
    <part name="parameters" element="tns:CommitFileRequest"/>
  </message>
  <message name="CommitFileResponseMessage">
    <part name="parameters" element="tns:CommitFileResponse"/>
  </message>

  <message name="GetFileRequestMessage">
    <part name="parameters" element="tns:GetFileRequest"/>
  </message>
  <message name="GetFileResponseMessage">
    <part name="parameters" element="tns:GetFileResponse"/>
  </message>

  <message name="GetCompletionRequestMessage">
    <part name="parameters" element="tns:GetCompletionRequest"/>
  </message>
  <message name="GetCompletionResponseMessage">
    <part name="parameters" element="tns:GetCompletionResponse"/>
  </message>

  <message name="ListConversationsRequestMessage">
    <part name="parameters" element="tns:ListConversationsRequest"/>
  </message>
  <message name="ListConversationsResponseMessage">
    <part name="parameters" element="tns:ListConversationsResponse"/>
  </message>

  <message name="DeleteConversationRequestMessage">
    <part name="parameters" element="tns:DeleteConversationRequest"/>
  </message>
  <message name="DeleteConversationResponseMessage">
    <part name="parameters" element="tns:DeleteConversationResponse"/>
  </message>

  <message name="ListBranchesRequestMessage">
    <part name="parameters" element="tns:ListBranchesRequest"/>
  </message>
  <message name="ListBranchesResponseMessage">
    <part name="parameters" element="tns:ListBranchesResponse"/>
  </message>

  <message name="DeleteBranchRequestMessage">
    <part name="parameters" element="tns:DeleteBranchRequest"/>
  </message>
  <message name="DeleteBranchResponseMessage">
    <part name="parameters" element="tns:DeleteBranchResponse"/>
  </message>

  <message name="ListFilesRequestMessage">
    <part name="parameters" element="tns:ListFilesRequest"/>
  </message>
  <message name="ListFilesResponseMessage">
    <part name="parameters" element="tns:ListFilesResponse"/>
  </message>

  <!-- Fault Messages -->
  <message name="InvalidConversationFaultMessage">
    <part name="fault" element="tns:InvalidConversationFault"/>
  </message>
  <message name="UnauthorizedAccessFaultMessage">
    <part name="fault" element="tns:UnauthorizedAccessFault"/>
  </message>
  <message name="GitOperationFailedFaultMessage">
    <part name="fault" element="tns:GitOperationFailedFault"/>
  </message>
  <message name="ProviderUnavailableFaultMessage">
    <part name="fault" element="tns:ProviderUnavailableFault"/>
  </message>

  <!-- Port Type -->
  <portType name="SoapyPortType">
    <operation name="CommitMessage">
      <input message="tns:CommitMessageRequestMessage"/>
      <output message="tns:CommitMessageResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
      <fault name="GitOperationFailedFault" message="tns:GitOperationFailedFaultMessage"/>
      <fault name="ProviderUnavailableFault" message="tns:ProviderUnavailableFaultMessage"/>
    </operation>

    <operation name="BranchConversation">
      <input message="tns:BranchConversationRequestMessage"/>
      <output message="tns:BranchConversationResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
      <fault name="GitOperationFailedFault" message="tns:GitOperationFailedFaultMessage"/>
    </operation>

    <operation name="GetConversation">
      <input message="tns:GetConversationRequestMessage"/>
      <output message="tns:GetConversationResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="GetBranding">
      <input message="tns:GetBrandingRequestMessage"/>
      <output message="tns:GetBrandingResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="CommitToolCall">
      <input message="tns:CommitToolCallRequestMessage"/>
      <output message="tns:CommitToolCallResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
      <fault name="GitOperationFailedFault" message="tns:GitOperationFailedFaultMessage"/>
    </operation>

    <operation name="CommitToolResult">
      <input message="tns:CommitToolResultRequestMessage"/>
      <output message="tns:CommitToolResultResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
      <fault name="GitOperationFailedFault" message="tns:GitOperationFailedFaultMessage"/>
    </operation>

    <operation name="CommitFile">
      <input message="tns:CommitFileRequestMessage"/>
      <output message="tns:CommitFileResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
      <fault name="GitOperationFailedFault" message="tns:GitOperationFailedFaultMessage"/>
    </operation>

    <operation name="GetFile">
      <input message="tns:GetFileRequestMessage"/>
      <output message="tns:GetFileResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="GetCompletion">
      <input message="tns:GetCompletionRequestMessage"/>
      <output message="tns:GetCompletionResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="ListConversations">
      <input message="tns:ListConversationsRequestMessage"/>
      <output message="tns:ListConversationsResponseMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="DeleteConversation">
      <input message="tns:DeleteConversationRequestMessage"/>
      <output message="tns:DeleteConversationResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="ListBranches">
      <input message="tns:ListBranchesRequestMessage"/>
      <output message="tns:ListBranchesResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="DeleteBranch">
      <input message="tns:DeleteBranchRequestMessage"/>
      <output message="tns:DeleteBranchResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>

    <operation name="ListFiles">
      <input message="tns:ListFilesRequestMessage"/>
      <output message="tns:ListFilesResponseMessage"/>
      <fault name="InvalidConversationFault" message="tns:InvalidConversationFaultMessage"/>
      <fault name="UnauthorizedAccessFault" message="tns:UnauthorizedAccessFaultMessage"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="SoapyBinding" type="tns:SoapyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="CommitMessage">
      <soap:operation soapAction="http://soapy.example.com/CommitMessage"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
      <fault name="GitOperationFailedFault">
        <soap:fault name="GitOperationFailedFault" use="literal"/>
      </fault>
      <fault name="ProviderUnavailableFault">
        <soap:fault name="ProviderUnavailableFault" use="literal"/>
      </fault>
    </operation>

    <operation name="BranchConversation">
      <soap:operation soapAction="http://soapy.example.com/BranchConversation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
      <fault name="GitOperationFailedFault">
        <soap:fault name="GitOperationFailedFault" use="literal"/>
      </fault>
    </operation>

    <operation name="GetConversation">
      <soap:operation soapAction="http://soapy.example.com/GetConversation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="GetBranding">
      <soap:operation soapAction="http://soapy.example.com/GetBranding"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="CommitToolCall">
      <soap:operation soapAction="http://soapy.example.com/CommitToolCall"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
      <fault name="GitOperationFailedFault">
        <soap:fault name="GitOperationFailedFault" use="literal"/>
      </fault>
    </operation>

    <operation name="CommitToolResult">
      <soap:operation soapAction="http://soapy.example.com/CommitToolResult"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
      <fault name="GitOperationFailedFault">
        <soap:fault name="GitOperationFailedFault" use="literal"/>
      </fault>
    </operation>

    <operation name="CommitFile">
      <soap:operation soapAction="http://soapy.example.com/CommitFile"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
      <fault name="GitOperationFailedFault">
        <soap:fault name="GitOperationFailedFault" use="literal"/>
      </fault>
    </operation>

    <operation name="GetFile">
      <soap:operation soapAction="http://soapy.example.com/GetFile"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="GetCompletion">
      <soap:operation soapAction="http://soapy.example.com/GetCompletion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="ListConversations">
      <soap:operation soapAction="http://soapy.example.com/ListConversations"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="DeleteConversation">
      <soap:operation soapAction="http://soapy.example.com/DeleteConversation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="ListBranches">
      <soap:operation soapAction="http://soapy.example.com/ListBranches"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="DeleteBranch">
      <soap:operation soapAction="http://soapy.example.com/DeleteBranch"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>

    <operation name="ListFiles">
      <soap:operation soapAction="http://soapy.example.com/ListFiles"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidConversationFault">
        <soap:fault name="InvalidConversationFault" use="literal"/>
      </fault>
      <fault name="UnauthorizedAccessFault">
        <soap:fault name="UnauthorizedAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service -->
  <service name="SoapyService">
    <documentation>Soapy Hybrid SOAP/REST AI API - SOAP Interface v1.0</documentation>
    <port name="SoapyPort" binding="tns:SoapyBinding">
      <soap:address location="http://localhost:3000/soap"/>
    </port>
  </service>

</definitions>
